@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.btn-primary {
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
.h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
    text-transform: none;
}

.btn {
    border-radius: 0;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
    border-color: #c0392b;
    background-color: #e74c3c;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #c0392b;
}

.input-group-addon, .form-control {
    border-radius: 0;
}

.input-group-addon {
    border-color: transparent;
    background-color: transparent;
    color: #ffffff;
}

p i:first-child {
    margin-right: 5px;
}

i.fa.ssl {
    color: #27ae60;
    margin-right: 5px;
}

html, body, #wrapper {
    height: 100%;
}

#wrapper > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 375px;
    height: 100%;
    background: #222729;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    transition: width 500ms ease, left 500ms ease;
    z-index: 9999;
}

#wrapper > header.login, #wrapper > header.totp {
    width: 100%;
}

#wrapper > header.login p, #wrapper > header.totp p {
    padding-left: 39px;
    margin-bottom: 15px;
}

#wrapper > header section, #wrapper > header .hideOnLogin {
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
    transition: opacity 400ms ease, visibility 0ms ease, height 0ms ease, padding 0ms ease;
}

#wrapper > header #login, #wrapper > header #totp {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    transition: opacity 400ms ease, visibility 0ms ease 400ms, height 0ms ease 400ms, padding 0ms ease 400ms;
}

#wrapper > header.login #login, #wrapper > header.totp #totp {
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
    transition: opacity 400ms ease, visibility 0ms ease, height 0ms ease, padding 0ms ease;
}

#wrapper > header.login section:not(#login), #wrapper > header.login .hideOnLogin,
#wrapper > header.totp section:not(#totp), #wrapper > header.totp .hideOnLogin {
    opacity: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    padding: 0;
    transition: opacity 400ms ease, visibility 0ms ease 400ms, height 0ms ease 400ms, padding 0ms ease 400ms;
}

#wrapper > header header {
    padding-top: 25px;
    padding-bottom: 25px;
}

#wrapper > header header > .container-fluid > div {
    position: relative;
}

#wrapper > header header img.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

#wrapper > header header h1 {
    margin: 5px 0 0;
    font-size: 24px;
    text-align: right;
}

#wrapper > header header h1 small {
    margin-top: 5px;
    font-size: 14px;
    display: block;
}

#wrapper > header section {
    padding-top: 15px;
    padding-bottom: 15px;
}

#wrapper > header section h2,
#wrapper > header section .h2 {
    font-size: 18px;
    padding: 10px 15px;
    margin: 0;
}

#wrapper > header .wrap {
    min-height: calc(100% - 49px);
    padding-bottom: 25px;
}

#wrapper > header footer {
    margin-bottom: 15px;
}

.connection-status {
    line-height: 34px;
}

.connection-status .fa {
    margin-right: 5px;
    color: #95a5a6;
}

.connection-status.connected .fa {
    color: #27ae60;
}

.connection-status.disconnected .fa {
    margin-right: 5px;
    color: #c0392b;
}

#login .h3 small, #totp .h3 small {
    display: block;
}

#search-patients {
    background: #ffffff;
    color: #555;
    border: 1px solid #ccc;
    border-right: none;
}

#search-patients + input[name="search"] {
    border-left: none;
}

#important-patients h2 .fa,
#important-patients .h2 .fa {
    color: #c0392b;
    margin-right: 10px;
}

#patients h2 .fa,
#patients .h2 .fa {
    color: #27ae60;
    margin-right: 10px;
}

.patient-list {
    padding: 0;
    list-style: none;
}

.patient-list li {
    padding: 10px 15px;
    font-size: 16px;
    text-align: right;
    transition: background-color 300ms ease;
    cursor: pointer;
}

.patient-list li.active {
    background: #e74c3c;
}

.patient-list li:not(.active):hover, .patient-list li:not(.active):focus {
    background: rgba(0, 0, 0, 0.25);
}

@keyframes blinker {
    50% { opacity: 0; }
}

#important-patients .patient-list li:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    content: "\f06a";
    padding-right: 10px;
    animation: blinker 1s linear infinite;
}

#main {
    padding-left: 375px;
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#map .leaflet-popup-content-wrapper {
    border-radius: 0;
}

#map .leaflet-popup-content-wrapper .leaflet-popup-content {
    margin: 0;
    padding: 15px;
}

#map .leaflet-popup-content .table {
    margin: 0;
}

#map .leaflet-popup-content .table tr:first-child td {
    border-top: none;
}

#menu-button, #menu-button .fa.open, #menu-button .fa.close {
    display: none;
}

@media (max-width: 991px) {
    #wrapper > header {
        width: 275px;
    }

    #main {
        padding-left: 275px;
    }
}

@media (max-width: 767px) {
    #wrapper > header.closed:not(.login):not(.totp) {
        left: -275px;
    }

    #wrapper > header:not(.login):not(.totp) #menu-button {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 20px;
        display: block;
    }

    #wrapper > header.closed #menu-button .fa.open {
        display: block;
    }

    #wrapper > header:not(.closed) #menu-button .fa.close {
        display: block;
    }

    #main {
        padding-left: 0;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
